<div>
  <center>
    <h1>List of firms</h1>
    <br/>
		<div class="col-md-3 bottom-buffer">
			<a href=<%= new_firm_path %> class="btn btn-primary btn-block">New Firm</a>
		</div>
    <br/>
		<% @firms.each do |firm| %>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><%= firm.name %></h5>
					<h6 class="card-subtitle mb-2 text-muted"><%= firm.location %></h6>
					<p class="card-text"> <%= firm.industry %> </p>
					<a href=<%= firm_path(firm) %> class="card_link">Company Overview</a>
					<br/>
					<a href=<%= jobs_firm_path(firm) %> class="card_link">Job Postings</a>
				</div>
			</div>
      <br/>
		<% end %>
  </center>
</div>