<div class="container h-100">

  <div class="col-md-1">
      <a href=<%= firms_panel_path %> class="btn btn-outline-primary btn-block">Back</a>
  </div>

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card" style="padding:2rem">

        <h1 style="text-align:center">New Internship</h1>

        <%= form_with url: create_job_firms_path, method: :post, model: @job do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :firm_id, value: @firm.id %>

          <div class="form-group">
            <label for="job_title">Job Title</label>
            <%= form.text_field :title, placeholder: "Job Title", class: "form-control", required: true %>
            </div>
          <div class="form-group">
            <label for="job_position">Position</label>
            <%= form.text_field :position, placeholder: "Job Position", class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <label for="job_location">Location</label>
            <%= form.text_field :location, placeholder: "Job Location", class: "form-control" %>
          <div class="form-group">
          <div class="form-group">
            <label for="job_classifications">Classifications</label>
            <%= form.text_field :classifications, placeholder: "Classifications that can apply", class: "form-control", required: true %>
          </div>
            <label for="job_description">Description</label>
            <%= form.text_area :description, placeholder: "Description", class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <label for="job_date">Date</label>
            <%= form.date_select :deadline %>
          </div>

          <label for="job_questions"> Questions</label>
          <div class="fields">
              <%= form.fields_for :job_questions do |builder| %>
                <%= render 'job_question', f: builder %>
              <% end %>
          </div>
          <div class="card text-right">
            <%= link_to_add_row('Add Question', form, :job_questions, class: 'btn btn-outline-secondary')%>
          </div>
          <br/>
          <%= form.submit "Create Job", class: "btn btn-aggie btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>