<div class="col-md-3 bottom-buffer">
    <a href=<%= firms_path %> class="btn btn-primary btn-block">Back to Firms</a>
</div>

<p>
<strong> Firm Name: </strong>
<%= @firm.name %>
<br/>
<strong> Location: </strong>
<%= @firm.location %>
<br/>
<strong> Industry: </strong>
<%= @firm.industry %>
<br/>
<strong> Website: </strong>
<%= @firm.website %>
<br/>
<strong> LinkedIn: </strong>
<%= @firm.linkedin %>
<br/>
<strong> Description: </strong>
<%= @firm.description %>
</p>