<div class="container h-100">	

	<%= stylesheet_link_tag 'job_list', media: 'all'%>

	<div class="col-md-1">
		<a href=<%= firms_path %> class="btn btn-outline-primary btn-block">Back</a>
	</div>

	<br/>

	<div class="row justify-content-center">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-body">
					<% if not @firm.logo.nil?%>
					<div class="text-center">
						<%= image_tag serve_logo_path(@firm.logo), class: "img-fluid"%>
					</div>
					<% end %>
					<h1 class="card-title" style="text-align: center"><%= @firm.name %> </h1>
					<h5 class="card-title" style="text-align: center">Industry: <%= @firm.industry %></h5>
					<h5 class="card-title" style="text-align: center">Location: <%= @firm.location %></h5>
					<p class="card-text"> <%= @firm.description %> </p>
					<div class="row">
						<div class="col-sm-2">
							<a href=<%= @firm.website %> class="btn btn-outline-dark">Website</a>
						</div>
						<div class="col-sm-2">
							<a href=<%= @firm.linkedin %> class="btn btn-outline-dark">LinkedIn</a>
						</div>
					</div>

					<% if current_user %>
            			<br/>	
					<% if not @firm.contact_name == "" %>
					  <p class="card-title">Contact Name: <%= @firm.contact_name %></p>
					<% end%>

					<% if not @firm.contact_email == "" %>
						<p class="card-title">Contact Email: <%= @firm.contact_email %></p>
					<% end%>

					<% if not @firm.contact_linkedin == "" %>
						<a href=<%= @firm.contact_linkedin %> class="btn btn-outline-dark">Contact LinkedIn</a>
					<% end %>

            			<br/>
					<% end %>

					
				</div>
			</div>
		</div>
	</div>

	<br/>

<section class="job-listing h-75">
  <div class="container">

		<% if current_user %>

			<% @jobs.each do |job| %>
				<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="filter-result">
				<div class="row job-box d-md-flex align-items-center justify-content-between mb-30">
					<div class="col-4 img" style="background-image: url('<%= serve_logo_path(job.firm.logo) %>')"></div>
					<div class="col-5 job-left my-4 d-md-flex align-items-center flex-wrap">
						<div class="job-content">
							<h1 class="text-center text-md-left"> <%= job.firm.name %></h1>
							<h5 class="text-center text-md-left"> <%= job.title %>  </h5>
							<h5 class="text-center text-md-left"> <%= job.location %></h5>
							<h5 class="text-center text-md-left"> Classifications: <%= job.classifications %> </h5>   
							<h5 class="text-center text-md-left"> Deadline: <%= job.deadline %> 11:59 PM</h5>
						</div>
					</div>

					<div class="col-3 job-right my-4 flex-shrink-0">
						<a href="<%= job_path(job) %>"  class="btn d-block w-100 d-sm-inline-block btn-light">Info</a>
						<% if current_user.applied?(job.id) %>
						<a href="<%= new_job_job_application_path(job)%>"  class="btn d-block w-100 d-sm-inline-block btn-light disabled">Already Applied</a>
						<% else %>
						<a href="<%= new_job_job_application_path(job)%>"  class="btn d-block w-100 d-sm-inline-block btn-light">Apply now</a>
						<% end %>
					</div>
				</div>
				</div>   
			</div>
		</div>
		<% end %>

		<% else %>
			<div class="row justify-content-center">
				<h3> See this company's opportunities by joining today! </h3>
			</div>
		<% end %>
	</div>
</section>

</div>