<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>

<section class="my-login-page h-75">
    <div class="container h-100">
      <div class="row h-100 justify-content-md-center align-items-center text-center">
        <div class = "col-8">
          <h1 style = "font-size:5vw"> <span style = "color:#500000"> AIC </span> ACCESS </h1>
          <p style = "font-size:20px">AIC Access is an exclusive program for high-caliber, highly dedicated student who desire to complete a high
            -finance internship after their freshman, sophomore, or junior year. We partner with investment banks, private
            equity firms, and asset managers to provide opportunities for professional growth through a summer internship that may be
            an enigma to obtain.</p>
            <div class ="text-center">
            <%= link_to '<button type="button" class ="btn btn-primary btn-block "> Apply Today </button>'.html_safe,new_access_submission_path %>
            </div>
         </div>
          <div class="col-4">
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Login</h4>
                <%= form_for :login do |f| %> 
                  <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, autofocus: true, class: "form-control", type: "email", autocomplete: "email" %>           
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: "form-control", type: "password", autocomplete: "current-password"  %>
                  </div>

                  <div class="form-group m-0" id="login-form">
                    <%= f.submit "Log In", class: "btn btn-primary btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class = "container h-100">
      <div class = "card fat"> 
        <div class = "row h-100 justify-content-md-center align-items-center">
          
          <div class = "col-3">
            <p style="color:gray"> REVIEWS </p>
            <h1> What Access members say </h1>
          </div>
          <div class = "col-9">
            <p style="font-size:20px"> "...AIC Access is an extremely valuable tool in finding internships for freshmen and sophomores.
            I was given a couple of awesome opportunities through the platform and I highly recommend joining AIC 
            and utilizing AIC Access..."            
          </div>
        </div>
      </div>
    </div>
</section>