<h1> Internship Help Page </h1>
<h3> How to Add an Internship</h3>
<ol>
<li>Navigate to the "Jobs" button on the Admin Panel.</li>
<%=image_tag('jobs/adminpanel_jobs_button',size: '1000x400')%>
<li>View all the current internships.</li>
<li>Click on the "New Internship" button to add a new internship.</li>
<%=image_tag('jobs/Job_panel',size: '1000x400')%>
<li>Fill out all the fields. If any information is missing write in N/A.<br>
 To add extra questions click on the "Add Question" button.<br>
 Click "Create Job" to add the internship. </li>
<%=image_tag('jobs/new_job',size: '1000x800')%>
<li>The new internship now displays on the admin panel for all active internships.</li>
</ol>


<br>
<h3> How to Export an Internship</h3>
<ol>
<li>To edit the internship information click on the "Export" button next to the desired internship.</li>
<%=image_tag('jobs/Job_panel_edit',size: '1000x400')%>
</ol>
<br>


<h3> How to Delete an Internship</h3>
<ol>
<li>To delete an internship click on the "Delete" button next to the desired internship.</li>
<%=image_tag('jobs/Job_panel_delete',size: '1000x400')%>
<li>Click accpet on the confirmation window.</li>
<li>The internship has now been deleted.</li>
</ol>