<div class="col-md-1">
  <a href=<%= admins_index_path %> class="btn btn-outline-primary btn-block">Back</a>
</div>
<h1> User Help Page </h1>
<h3> How to Add Pending User </h3>
<ol>
<li>Navigate to the "User" button on the Admin Panel</li>
<%=image_tag('users/adminpanel_userbutton',size: '1000x400')%>
<li>View any pending users who have completed the application</li>
<li>Click on "View Application" to inspect full user profile including resume</li>
<%=image_tag('users/user_panel_edit',size: '1000x400')%>
<li>If the application looks good click on "Accept" to add user to the website</li>
<%=image_tag('users/user_application',size: '1000x400')%>
<li>You can now view the new user on the Current User Panel</li>
<%=image_tag('users/user_has_approved',size: '1000x400')%>
</ol>
