<div class="col-md-1">
  <a href=<%= admins_index_path %> class="btn btn-outline-primary btn-block">Back</a>
</div>
<h1> Firm Help Page </h1>
<h3> How to Add a Firm</h3>
<ol>
<li>Navigate to the "Firm" button on the Admin Panel</li>
<%=image_tag('firms/adminpanel_firm_button.png',size: '1000x400')%>
<li>View all the current partnerd firms.</li>
<li>Click on "New Firm" to add a new firm.</li>
<%=image_tag('firms/firm_panel.png',size: '1000x400')%>
<li>Fill out all the fields. If any information is missing write in N/A. Click "Add Firm" to add the firm. </li>
<%=image_tag('firms/edit_firm.png',size: '1000x800')%>
<li>The new firm now displays on the admin panel for all active partner firms.</li>
<%=image_tag('firms/View_FIrm',size: '1000x400')%>
</ol>
<br>
<h3> How to Edit a Firm</h3>
<ol>
<li>To edit the firm information click on the "Edit" button next to the desired firm.</li>
<%=image_tag('firms/firm_panel_edit.png',size: '1000x400')%>
<li>Update any outdated information then click "Update Firm" when done.</li>
</ol>
<br>
<h3> How to Delete a Firm</h3>
<ol>
<li>To delete a firm click on the "Delete" button next to the desired firm.</li>
<%=image_tag('firms/firm_panel_delete.png',size: '1000x400')%>
<li>Click accpet on the confirmation window.</li>
<li>The firm has now been deleted.</li>
</ol>