<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>Hello, world!</title>
    <style>
      p{
        font-size:18px;
      }
    </style>
  </head>
  <body>
    <div class="container text-center">
  <h1 style="font-size:60px">Member Resources</h1>
</div>

<div class ="container pb-5 ">
    <h1 style="font-size:40px"> Videos </h1>
    <div class="row text-center">
        <div class="col">
          <% if @resources.find(1).video_url.length > 5 %>
          <h3> <%= @resources.find(1).title %> </h3> 
          <iframe width="400" height="300" src="<%= @resources.find(1).video_url %>"
          allowfullscreen></iframe> 
          <% end %>
          
        </div>      
        <div class="col">
        <% if @resources.find(2).video_url.length > 5 %>
          <h3> <%= @resources.find(2).title %> </h3> 
          <iframe width="400" height="300" src="<%= @resources.find(2).video_url %>"
          allowfullscreen></iframe>
        <% end %>
        </div>
    </div>
    <div class = "row text-center">
        <div class="col"> 
          <% if @resources.find(3).video_url.length > 5 %>
          <h3> <%= @resources.find(3).title %> </h3> 
          <iframe width="400" height="300" src="<%= @resources.find(3).video_url %>"
          allowfullscreen></iframe>
          <% end %>
        </div>
        <div class="col">
          <% if @resources.find(4).video_url.length > 5 %>
          <h3> <%= @resources.find(4).title %> </h3> 
          <iframe width="400" height="300" src="<%= @resources.find(4).video_url %>"
          allowfullscreen></iframe>
          <% end %>
        </div>
    </div>
</div>

<div class = "container pb-3">
    <h1> Resume Template </h1>
    <a href=<%= download_template_path %> > AIC_Resume_Template.docx </a>
</div>

  </body>
</html>