<style>
th{
    padding: 5px;
    text-align: center;
}
</style>

<div class="col-md-1">
  <a href=<%= admins_index_path %> class="btn btn-outline-primary btn-block">Back</a>
</div>

<div class ="container pb-5 ">
  <div class="row h-100 justify-content-md-center align-items-center">
    <h1>Admin Information</h1>
  </div>
</div>

<div class ="container pb-5 ">
  <div class="row h-100 justify-content-md-center align-items-center">
    <div class="card" style= "width: 60%">
      <div class="card-body">
        <div class="row h-100 justify-content-md-center align-items-center">
          <h2> Pending Applications </h2>
        </div>
        <div class="row">
          <table style="border:1">
            <% @access_submission.each do |access_submission| %>
              <tr>
                <th><%= access_submission.first_name %></th>
                <th><%= access_submission.last_name %></th>
                <th><%= access_submission.email %></th>
                <th><%= link_to "View Application", access_submission_path(access_submission) %></th>
                
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="container pb-5 ">
  <div class="row h-100 justify-content-md-center align-items-center">
    <div class="card" style= "width: 60%">
      <div class="card-body">
        <div class="row h-100 justify-content-md-center align-items-center">
          <h2> List of Users </h2>
        </div>
        <div class="row">
          <table style="border:1">
            <% @user.each do |user| %>
              <tr>
                <th><%= user.first_name %></th>
                <th><%= user.last_name %></th>
                <th><%= user.email %></th>
                <th><%= link_to "View User", user_show_path(user.id) %></th>
                <th><%= link_to 'Delete', user_delete_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></th>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>