<h3>Update Job Details</h3>
	<%= form_with model: @job do |form| %>
		<%= form.text_field :title, placeholder: "{@job.title}" %>
		<%= form.text_field :position, placeholder: "{@job.position}" %>
		<%= form.text_field :location, placeholder: "{@job.location}" %>
		<%= form.text_field :company, placeholder: "{@job.company}" %>
		<%= form.text_field :description, placeholder: "{@job.description}" %>

		<%= form.submit %>
	<% end %>

