<%= stylesheet_link_tag 'job_list', media: 'all', 'data-turbolinks-track': 'reload' %>


<section class="job-listing h-75">
  <div class="container h-100">

    <h1 style="text-align:center">Internships</h1>
    <br/>

    <% if admin? %>
      <center>
        <div class="col-md-3 bottom-buffer">
          <a href=<%= new_job_path %> class="btn btn-aggie btn-block">New Job Posting</a>
        </div>
      </center>
    <% end %>

    <% @job.each do |job| %>
      <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="filter-result">
              <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                <div>
                    <% firm = Firm.find(job.firm_id) %>
                      <% if not firm.image.nil?%>
                        <%= image_tag serve_image_path(firm.image), alt: "#{firm.name} Logo"%>
                      <% else %>
                        <%= image_tag "grey-box.jpg", alt: "#{firm.name} Logo"%>
                      <% end %>
                    </div>
                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                    
                      <div class="job-content">

                          <h5 class="text-center text-md-left"> <%= job.title %></h5>
                          <h6 class="text-center text-md-left"> <%= job.position %>  </h6>
                          <h6 class="text-center text-md-left"> <%= job.firm.name %>  </h6>
                          <h6 class="text-center text-md-left"> <%= job.location %> - <%= job.classifications %> </h6>  
                          <h6 class="text-center text-md-left"> Deadline: <%= job.deadline %> </h6>
                      </div>
                </div>

                <div class="job-right my-4 flex-shrink-0">
                    <a href="<%= job_path(job) %>"  class="btn d-block w-100 d-sm-inline-block btn-light">Info</a>
                    <a href="<%= new_job_job_application_path(job)%>"  class="btn d-block w-100 d-sm-inline-block btn-light">Apply now</a>
                </div>
              </div>
            </div>   
        </div>
      </div>
    <% end %>
  </div>
</section>