<%= stylesheet_link_tag 'job_list', media: 'all', 'data-turbolinks-track': 'reload' %>

<section class="job-listing h-75">
  <div class="container h-100">

    <h1 style="text-align:center">Internships</h1>
    <br/>

    <% @jobs.each do |job| %>
      <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="filter-result">
              <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                <div>
                    <% firm = Firm.find(job.firm_id) %>
                      <% if not firm.logo.nil?%>
                        <div class="img" style="background-image: url('<%= serve_logo_path(firm.logo) %>')"></div>
                      <% else %>
                        <%= image_tag "grey-box.jpg", alt: "#{firm.name} Logo"%>
                      <% end %>
                </div>
                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                      <div class="job-content">
                          <h1 class="text-center text-md-left"> <%= job.firm.name %></h1>
                          <h5 class="text-center text-md-left"> <%= job.title %>  </h5>
                          <h5 class="text-center text-md-left"> <%= job.location %> - <b><%= job.classifications %></b></h5>  
                          <h5 class="text-center text-md-left"> Deadline: <%= job.deadline %> 11:59 PM</h5>
                      </div>
                </div>

                <div class="job-right my-4 flex-shrink-0">
                    <a href="<%= job_path(job) %>"  class="btn d-block w-100 d-sm-inline-block btn-light">Info</a>
                    <a href="<%= new_job_job_application_path(job)%>"  class="btn d-block w-100 d-sm-inline-block btn-light">Apply now</a>
                </div>
              </div>
            </div>   
        </div>
      </div>
    <% end %>
  </div>
</section>