
	<div class="col-8">
		<h1>Create a New Job Posting</h1>
		<%= form_with model: @job do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :firm_id, value: 1 %>

      <div class="form-group">
        <label for="job_title">Job Title</label>
        <%= form.text_field :title, placeholder: "Job Title", class: "form-control"%>
			</div>
      <div class="form-group">
        <label for="job_position">Position</label>
        <%= form.text_field :position, placeholder: "Job Position", class: "form-control" %>
			</div>
      <div class="form-group">
        <label for="job_location">Location</label>
        <%= form.text_field :location, placeholder: "Job Location", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="job_classifications">Classifications</label>
        <%= form.text_field :classifications, placeholder: "Classifications that can apply", class: "form-control" %>
      </div>
			<div class="form-group">
        <label for="job_description">Description</label>
        <%= form.text_area :description, placeholder: "Description", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="job_company">Company</label>
        <%= form.select :firm_id, Firm.all.map { |firm| [firm.name, firm.id] }, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="job_date">Date</label>
        <%= form.date_select :deadline %>
      </div>

      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>Question</th>
          </tr>
        </thead>
        <tbody class='fields'>
          <%= form.fields_for :job_questions do |builder| %>
            <%= render 'job_question', f: builder %>
          <% end %>
        </tbody>
      </table>
      <%= form.submit %>
      <%= link_to_add_row('Add Question', form, :job_questions, class: 'btn btn-primary')%>
		<% end %>
</div>
