<div class="col-md-3 bottom-buffer">
    <a href=<%= jobs_path %> class="btn btn-primary btn-block">Back to Job Listings</a>
</div>

<p>
<strong> User Id: </strong>
<%= @job.user_id %>
<br/>
<strong> Job Title: </strong>
<%= @job.title %>
<br/>
<strong> Job Position: </strong>
<%= @job.position %>
<br/>
<strong> Job Location: </strong>
<%= @job.location %>
<br/>
<strong> Description: </strong>
<%= @job.description %>
<br/>
<strong> Created Date: </strong>
<%= @job.created_at %>
<br/>
<%= link_to 'Edit', edit_job_path(@job) %>
<br/>
<%= link_to 'Applications', job_job_applications_path(@job)%>
<br/>
<%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
