<div class="container h-100">

	<div class="col-md-1">
		<a href=<%= jobs_path %> class="btn btn-outline-primary btn-block">Back</a>
	</div>

	<div class="row justify-content-center">
		<div class="col-sm-7">
			<div class="card">
				<div class="card-body">

					<h1 class="card-title" style="text-align: center"><%= @job.title %> </h1>
					<h5 class="card-title">Position: <%= @job.position %></h5>
					<h5 class="card-title">Company: <%= @job.firm.name %></h5>
					<h5 class="card-title">Location: <%= @job.location %></h5>
					<h5 class="card-title">Classifications: <%= @job.classifications %></h5>
					<h5 class="card-title">Deadline: <%= @job.deadline %></h5>
					<h5 class="card-title">Description:</h5>
					<p class="card-text"> <%= @job.description %>
					<h5 class="card-title">Questions:</h5>
					<% @questions.each_with_index do |question, index| %>
						<p class="card-text" ><%= index + 1%>: <%= question.question %></p>
					<% end %>
					
					<br/>

					<div class="card text-right">
						<% if current_user.has_applied(@job.id) %>
              <%= link_to 'Already Applied', new_job_job_application_path(@job), class: 'btn btn-aggie disabled'%>
            <% else %>
              <%= link_to 'Apply Now', new_job_job_application_path(@job), class: 'btn btn-aggie'%>
            <% end %>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>
