<div class ="container pb-5 ">
  <div class="row h-100 justify-content-md-center align-items-center">
    <h1>My Profile</h1>
  </div>
</div>

<div class ="container pb-5 ">
  <div class="row h-100 justify-content-md-center align-items-center">
    <div class="card" style= "width: 40%">
      <div class="card-body">
        <h3 class="card-title text-center">
          <%= @user.first_name %> <%= @user.last_name %>
        </h3>
        <div class="row">
          <div class="col text-center">
            <b><%= @user.classification %></b>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            Major: <%= @user.major %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="container pb-5 ">
  <div class="row h-100 justify-content-md-center align-items-center">
    <div class="card" style= "width: 75%">
      <div class="card-body">
        <div class="row">
          <div class="col" style= "width: 30%">
            <div class="form-group">
              <%= form_for @user, url: edit_user_path do |f| %>
              <%= f.label :email %>
              <%= f.submit "Update User", :type => :image, :src => image_path("edit_pencil.png")  %>
              <%= f.text_field :email, autofocus: true, class: "form-control", type: "email", autocomplete: "email" %>
              <% end %>      
            </div>

            <div class="form-group">
              <%= form_for @user, url: edit_user_path do |f| %>
              <%= f.label :password %> 
              <%= f.password_field :password, class: "form-control", id: "password", type: "password", autocomplete: "new-password", placeholder: "••••••••"  %>
              <%= f.label :password_confirmation %> 
              <%= f.submit "Update User", :type => :image, :src => image_path("edit_pencil.png") %>
              <%= f.password_field :password_confirmation, class: "form-control", id: "password-confirmation", type: "password", autocomplete: "new-password", placeholder: "••••••••" %>
              <% end %>   
            </div>

            <div class="form-group">
              <% @user.documents.reload %>
              <% if not @user.documents.empty? %>
                <p>Resume:</p>
                <strong>
                <%= link_to("#{@user.documents[0].file_name}.pdf", cl_private_download_url(@user.documents[0].public_id, :pdf), target: :_blank) %>
                <%=link_to( image_tag("trash.svg"), documents_delete_path(@user.documents[0].id), :method => :delete) %>
                </strong>
              
              <%else %>
              <%= form_for(@user, url: edit_user_path, :html => { multipart: true }) do |f| %>
                <%= f.hidden_field :email, value: @user.email %>
                <%= f.fields_for :document do |ff| %>
                <div class="field">
                  <%= ff.label :document %><br>
                  <%= ff.file_field :document, multiple: false, name: "documents[]", accept: ".pdf", id: "file_upload_button"%>
                </div>
                <% end %>

                <div class="form-buttons">
                <%= f.submit("Upload Resume") %>
                </div>
              <% end %>
              <% end %>   
            </div>

            <div class="form-group">
              *Always update your resume every time you revise it*
            </div>
            
          </div>
          <div class="col" style= "width: 30%">
            <div class="form-group">
              <%= form_for @user, url: edit_user_path do |f| %>
              <%= f.label :classification %>
              <%= f.select :classification, ["Freshman","Sophomore","Junior","Senior"], class: "form-control", autocomplete: "classification" %>   
              <% end %>  
            </div>

            <div class="form-group">
              <%= form_for @user, url: edit_user_path do |f| %>
              <%= f.label :major %>
              <%= f.submit "Update User", :type => :image, :src => image_path("edit_pencil.png") %>
              <%= f.text_field :major, autofocus: true, class: "form-control", autocomplete: "major" %>
              <% end %>      
            </div>

            <div>
              Select your industry preference
            </div>
            <%= form_for @user, url: edit_user_path do |f| %>
              <div>
                <%= f.check_box :investment_banking %>
                Investment Banking
              </div>
              <div>
                <%= f.check_box :private_equity %>
                Private Equity
              </div>
              <div>
                <%= f.check_box :venture_capital %>
                Venture Capital
              </div>
              <div>
                <%= f.check_box :real_estate %>
                Real Estate
              </div>
              <%= f.submit "Update Industry Preference" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>