<style>
th{
    padding: 5px;
    text-align: center;
}
</style>

<h1> List of Users </h1>
<table style="border:1">
<% @user.each do |user| %>
    <tr>
        <th><%=user.first_name %></th>
        <th><%=user.last_name %> </th>
        <th><%=user.email %> </th>
        <th> <%= link_to "View User", edit_user_path(user) %></th>
         <th><%= link_to 'Delete', user_delete_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></th>
    </tr>
<% end %>
</table>