<p>
<strong> User Id: </strong>
<%= @job_application.user_id %>
<br/>
<strong> Company Name: </strong>
<%= @job.company %>
<br/>
<strong> Description: </strong>
<%= @job.description %>
<br/>
<strong> Application Questions: </strong>
<% @job.questions.each do |question| %>
  <td> <%= question.question %> </td>
<% end %>
<br/>
<strong> Application Answers: </strong>
<% job_application.answers.each do |answer| %>
  <td> <%= answer.answer %> </td>
<% end %>
<br/>
</p>
