<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=root_path %>">ACCESS</a> <!-- changed this to root path instead of current page double check if this correct -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if current_user %>

        <li class="nav-item active">
          <a class="nav-link" href="<%= logout_path %>"> Log Out <span class="sr-only">(current)</span></a>
        </li>

        <% if admin? %>
          <li class="nav-item active">

            <% if AccessSubmission.all.length() > 0 %>
              <a class="nav-link" href="<%= admins_index_path %>"> Admin Panel<sup><strong style='color: red'><%= AccessSubmission.all.length() %></strong></sup> <span class="sr-only">(current)</span></a>
            <% else %>
             <a class="nav-link" href="<%= admins_index_path %>"> Admin Panel<span class="sr-only">(current)</span></a>
            <% end %>
          </li>
        <%end%>

        <li class="nav-item active">
          <a class="nav-link" href="<%= edit_user_path(current_user.id) %>"> My Profile <span class="sr-only">(current)</span></a>
        </li>

        

      <% else %>
        <li class="nav-item active" id="login-nav">
          <a class="nav-link" href="<%= login_path %>"> Log In <span class="sr-only">(current)</span></a>
        </li>
      <% end %>
      <li class="nav-item active">
        <a class ="nav-link" href ="<%= static_page_about_path %>"> About Access <span class ="sr-only"> (current)</span></a>
      </li>
      <li class="nav-item active">
        <a class ="nav-link" href ="<%= firms_path %>"> Partner Firms <span class ="sr-only"> (current)</span></a>
      </li> 
      <li class = "nav-item active">
        <a class = "nav-link" href="<%= static_page_resources_path %>"> Member Resources <span class="sr-only"> (current)</span></a>
      </li>
    </ul>

    <% if current_user %>
    <span class="navbar-text">
      <%= "Logged in as #{current_user.email}" %>
    </span>
    <% end %>

  </div>
</nav>