<!DOCTYPE html>
<html>
  <head>
    <title>AICJobBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    
    <%= render "nav" %>

    <hr>
    <% if notice %>
      <div id = "myAlert" class="alert alert-primary alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div id = "myAlert" class="alert alert-danger alert-dismissible">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
