<!DOCTYPE html>
<html>
  <head>
    <title>AICAccess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_pack_tag 'aiclogo.png' %>

  </head>

  <body>
    
    <%= render "nav" %>

    <hr>
    
    <%= render "alerts" %>

    <%= yield %>
  
  </body>

</html>
